.CardList::-webkit-scrollbar {
  height: 0.5rem;
  background-color: #a6a6a6;
}

.CardList::-webkit-scrollbar-thumb {
  background-color: #3e3e40;
}

.CardList::-webkit-scrollbar-thumb:hover {
  filter: opacity(0.5);
  background-color: #737373;
}
