
.CardList::-webkit-scrollbar {
  height: 0.5rem;
  background-color: #A6A6A6;
}

.CardList::-webkit-scrollbar-thumb {
  background-color: #3E3E40;
}

.CardList::-webkit-scrollbar-thumb:hover {
  filter: opacity(0.5);
  background-color: #737373;
}
