@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  font-family:"Segoe UI", Roboto, "Helvetica Neue",Arial, "Noto Sans",sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}

/* 针对 Chrome、Edge 和 Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer components {
  .bgmtv-btn {
    @apply rounded-sm border px-1 text-indigo-700 hover:bg-rose-300 dark:border-gray-500 dark:text-indigo-500 dark:hover:bg-pink-400 dark:hover:text-gray-100;
  }
}
